.mixin.out/
backups/
bendspacks/
fonts/
journeymap/
logs/
saves/
signpic/
\.curseclient
crafttweaker\.log
manifest\.json
minecraftinstance\.json
servers\.dat
enchiridion\.temp\.txt
usercache\.json
usernamecache\.json
WailaErrorOutput\.txt
mods/
resourcepacks/
downloads/
modlist\.html
mmc-pack\.json
instance\.json
natives/
twitch-export-builder.exe
build/
cache/