
\.mixin\.out/

backups/

bendspacks/

customnpcs/

fonts/

journeymap/

logs/

mods/

saves/

signpic/

\.curseclient

crafttweaker\.log

manifest\.json

minecraftinstance\.json

options\.txt

servers\.dat

enchiridion\.temp\.txt

usercache\.json

usernamecache\.json

WailaErrorOutput\.txt
