# Configuration file

##########################################################################################################
# recipescooker
#--------------------------------------------------------------------------------------------------------#
# Cooker recipes
##########################################################################################################

recipescooker {
    S:cookedcarrot <
        minecraft:carrot
        aquamunda:cooked_carrot
        -
        10
     >
    S:cookedpotato <
        minecraft:potato
        aquamunda:cooked_potato
        -
        10
     >
    S:vegetablesoup <
        aquamunda:chopped_vegetables
        -
        vegetable_soup
        10
     >
}


##########################################################################################################
# recipescuttingboard
#--------------------------------------------------------------------------------------------------------#
# Cuttingboard recipes
##########################################################################################################

recipescuttingboard {
    S:chopped1 <
        minecraft:carrot
        minecraft:beetroot
        minecraft:brown_mushroom
        aquamunda:chopped_vegetables
        2
        knife
     >
    S:chopped2 <
        minecraft:carrot
        minecraft:beetroot
        minecraft:red_mushroom
        aquamunda:chopped_vegetables
        2
        knife
     >
    S:dough <
        aquamunda:flour
        -
        -
        aquamunda:dough
        10
        roller
     >
}


##########################################################################################################
# recipesgrindstone
#--------------------------------------------------------------------------------------------------------#
# Grindstone recipes
##########################################################################################################

recipesgrindstone {
    S:blazepowder <
        minecraft:blaze_rod
        3xminecraft:blaze_powder
        200
     >
    S:bonemeal <
        minecraft:bone
        5xminecraft:dye@15
        100
     >
    S:flint <
        minecraft:gravel
        2xminecraft:flint
        100
     >
    S:flour <
        minecraft:wheat
        aquamunda:flour
        100
     >
    S:glowstone <
        minecraft:glowstone
        4xminecraft:glowstone_dust
        300
     >
    S:sugar <
        minecraft:reeds
        2xminecraft:sugar
        100
     >
}


